# .env.example
DATABASE_URL="postgresql://user:password@host:port/dbname"

# Required for RESEND- https://resend.com/ to send reset password emails
RESEND_API_KEY="YOUR_RESEND_API_KEY_HERE"

# Required for NextAuth.js
NEXTAUTH_URL="http://localhost:3000"

NEXTAUTH_SECRET="GENERATE_A_RANDOM_SECRET_HERE_USING_OPENSSL"
# optional: Can be generated using command: openssl rand -base64 32
